<div class="header">
    <h1 routerLink="/">Orlando Theme Park Guide</h1>
    
    <!-- menu -->
    <!-- (click)="isOpen = !isOpen"  -->
    <div class="menu-trigger" (mouseenter)="isOpen = !isOpen" (mouseleave)="isOpen = !isOpen">
      Menu <i [ngClass]="isOpen ? 'gg-chevron-up' : 'gg-chevron-down'"></i>
      <div class="menu" *ngIf="isOpen" [@dropDownMenu]>
        <div class="menu-item" *ngFor="let item of routes; let i = index">
          <div routerLinkActive="active current"><span routerLink={{item.link}}>{{item.page}}</span></div>
        </div>
      </div>
    </div>
</div>
