<!-- based off paramater is what resort will display -->
<button (click)="backClick()">Back</button>
<h1>{{resort}}</h1>
<div *ngIf='parks'>
    <div class="park-page" *ngIf='disneyWorld'>
        <div *ngFor='let park of WDW'>
            <div class="park-tile" routerLink="{{park.park_name}}">
                <img class="park-img" src="{{park.img}}" alt="">
                <p>{{ park.park_name }}</p>
            </div>
        </div>
    </div>
    <div class="park-page" *ngIf='universalStudiosOrlando'>
        <div *ngFor='let park of UO'>
            <div class="park-tile" routerLink="{{park.park_name}}">
                <img class="park-img" src="{{park.img}}" alt="">
                <p>{{ park.park_name }}</p>
            </div>
        </div>
    </div>
</div>