<!-- based off paramater is what resort will display -->
<div *ngIf='parks' class="parks-page">
    <button (click)="backClick()">Back</button>
    <h1>{{resort}}</h1>
    <div class="parks" *ngIf='disneyWorld'>
        <div *ngFor='let park of WDW'>
            <div class="park-tile" routerLink="{{park.park_name}}">
                <img class="park-img" src="{{park.img}}" alt="">
                <p>{{ park.park_name }}</p>
            </div>
        </div>
    </div>
    <div class="parks" *ngIf='universalStudiosOrlando'>
        <div *ngFor='let park of UO'>
            <div class="park-tile" routerLink="{{park.park_name}}">
                <img class="park-img" src="{{park.img}}" alt="">
                <p>{{ park.park_name }}</p>
            </div>
        </div>
    </div>
</div>