<div *ngIf='rides' class="rides-page">
    <button (click)="backClick()">Back</button>
    <h2 class="park-title">{{park}}</h2>
    <!-- <div class="park-logo">
        <img src="{{park_logo}}" alt="park logo">
    </div> -->
    <div class="rides">
        <div *ngFor="let ride of rides">
            <div class="ride-tile" routerLink="{{ride.ride_name}}">
                <img class="ride-img" src="{{ride.ride_img}}" alt="">
                <div class="ride-card-content-wrap">
                    <div class="ride-card-content">
                        <div class="ride-header">{{ride.ride_name}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
